body, html, #root, .app, .container {
    width: 100%;
    height: 100%;
  }
  
  
  .container {
    font-size: 28px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3d5370;
  }
  
  .loginForm {
   box-sizing: border-box;
   width: 100%;
   max-width: 400px;
   padding-left: 20px;
   padding-right: 20px;
   background-color: #292929;
  }
  
  .inputField {
   padding-top: 16px;
  }
  
  .input {
   box-sizing: border-box;
   outline: none;
   border: solid 2px #1189de;
   border-radius: 4px;
   color: #292929;
   width: 100%;
   padding: 12px;
   font-size: 14px;
   background: rgba(255, 255, 255, 1);
  }
  
  .submitButton {
   padding-top: 16px;
  }
  
  
  .btn {
   width: 100%;
   min-width: 280px;
   color: #ffffff;
   padding: 12px;
   font-size: 14px;
   font-weight: bold;
   border: solid 1px #ee1818;
   border-radius: 4px;
   background: #F01714;
   cursor: pointer;
  }

.mar-12 {
    margin-top: 12px;
    margin-bottom: 12px;
}


.ApplyOutstanding{
  position: fixed;

  padding: 10px;
  margin: 0;

  top: 50%;
  bottom: 0;

  width: 94%;
  background: white;
  border: 5px;

  display: flex;

  color: black;

}


.applyform{
  flex: 1;
  margin: 10px;
  border: 10px;
  padding: 2%;
  background: rgb(184, 183, 183);
  border-radius: 10px;
}

.outstanding{
  flex: 1;
  margin: 10px;
  border: 10px;
  padding: 2%;
  background: rgb(184, 183, 183);
  border-radius: 10px;
}

.top{
  position: fixed;

  top: 0;
  bottom: 0;

  margin: 10px;
  verticle-align: middle;

}

.container2{
  position: fixed;

  top: 5%;

  max-height: 30%;
  background: white;
  color: black;
  display: flex;

  margin: 20px;

}

